body{
    background: gray;
    color: #a7cbf3;
    height: 100; width: 100;
}
h1{
    color: #000;
}
h2{
    color: #000;
}
p {
    color: #000;
}
img { 
    height: 300;
    width: 600;
}
img.seconde {
    background-image: url(gims.jpg2.jpg);
    background-position: center;
    height: 400;
    width: 500;
    gap: 15px;
    object-position: left;
}
ol{
    color: #000;
}
ul {
    font-family: arial;

}
i{
    color: #f7f3f3;
}