body{
    background-color: gray;
    float: none;
    margin:0;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

}
h1{
    text-align: initial;
    align-items: center;
}
h2{
    text-align: initial;
}
ol{
    color:rgb(15, 15, 15);
}
img{
    transform: matrix(gims);
    display: flex ;
    align-items:center;
    margin-left: auto;
    
}