body{
    float: none;
    margin:0;
    background-image: url(gims.image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

}
h1{
    text-align: initial;
}
h2{
    text-align: initial;
}
ol{
    color:rgb(211, 235, 250);
}
img{
    transform: matrix(gims);
}